*{
    box-sizing: border-box;
}

.lagsana,.arepa,.dog{
    background-color: coral;
}

h1{
    text-align: center;
    background-color: beige;
    border: solid;
    border-radius: 50px;
    padding: 10px;
}

ul,ol{
    text-align: center;
    background-color: aquamarine;
    font-family: sans-serif;
    border-radius: 10px;
}
.ingredient{
    padding: 10px;
    margin: 8px;
    border: 8px solid darkblue;
    display: inline-block;
}

h3{
    background-color: darkcyan;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    border: solid;
}

img{
    display: block;
    margin: 0 auto;
}

.maintitle{
    margin: 0px auto;
    width: 300px;
    border: solid;
    border-radius: 50px;
    padding: 10px;
}

a{
    padding: 8px;
}

.options{
    border-radius: 50px;
    border: solid 5px;
}

body{
    margin: 8px;
    padding: 8px;
    border: 8px solid;
}

